
<!--Html will not load if the html is not laid out before loading the scripts -->
<input type="hidden" id="userConnectionToken" />
<input type="hidden" id="myName" />
<form method="post" action="">
	<input id="newChannelName" type="text" value="channel name" />
	<input type="button" id="newChannel" value="createNewChannel" />
</form>
<form method="get" action="">
	<input type="button" id="getChannels" value="get channels" />
</form>
<div id="channelListDetails">
	
</div>
<form method="post" action="">
	<input id="userName" type="text" />
	<input type="button" id="createUser" value="create user" />
</form>

<select id="channelsToLeave"> </select>
<input type="button" id="unsubscribe" value="Unsubscribe" /><br/>
<select id="channelsToJoin"> </select>
<input type="button" id="subscribe" value="Subscribe" /><br/>
<select id="channels"> </select>
<input id="messageToSendToChannel" type="text" />
<input type="button" id="sendMessageToChannel" value="Send Message to channel" /><br/>
<br/>

<select id="users"></select>
<input id="messageToSendToUser" type="text" />
<input type="button" id="sendMessageToUser" value="Send Message to user directly" /><br/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.js"></script>
<script src="http://127.0.0.1:8081/signalr/hubs"></script>
<script src="/Scripts/getData.js" ></script>
<script src="/Scripts/spikeRunner.js" ></script>
<script src="/Scripts/chat.js" ></script>
<script src="/Scripts/apiCalls.js" ></script>

<script>
$(function () {
	chat.startUpChat();
});
 $(document).ready(function () {
	spikeRunner.updateChannelLists();
	spikeRunner.updateUserList();
	initApiEvents.init();
});

</script>
<div id="chatResults">
	
</div>