<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" >
 var targetUrl;

function getData(url) {
    targetUrl = url;
};

getData.prototype.getForJsonResponse = function (callback) {
    var request = new XMLHttpRequest();
    request.open("GET", targetUrl, true);
    request.onreadystatechange = function () {
        if (request.readyState != 4 || request.status != 200)
            return;
        callback(request.responseText);
    };
    request.send();
}

getData.prototype.postForJsonResponse = function (data, callback) {
    var request = new XMLHttpRequest();
    request.open("POST", targetUrl, true);
    request.setRequestHeader("Accept", "application/json");
    request.setRequestHeader("Content-type", "application/json");
    request.setRequestHeader("Content-length", data.length);
    request.setRequestHeader("Connection", "close");
    request.onreadystatechange = function () {
        if (request.readyState != 4 || request.status != 200)
            return;
        callback(request.responseText);
    };
    request.send(data);
}
	
	; spikeRunner = {
		showPostTest: function(data){
			document.getElementById('results').innerHTML = JSON.stringify(data);
			
		},
}

$(document).ready(function(){
	$('#newChannel').click(function(){
		var get = new getData('http://127.0.0.1:8080/api/createchannel');
		var channel = {ChannelName: document.getElementById('newChannelName').value, Subscribers:[{ UserName: 'user'}]};
		get.postForJsonResponse(JSON.stringify(channel), spikeRunner.showPostTest);
	});
	
	$('#subscribe').click(function(){
		var get = new getData('http://127.0.0.1:8080/api/channels/subscribe');
		var channel = {ChannelName: 'hello', Subscribers:[{ UserName: 'user'}]};
		get.postForJsonResponse(JSON.stringify(channel), spikeRunner.showPostTest);
	});

	$('#getChannels').click(function(){
		var get = new getData('http://127.0.0.1:8080/api/channels');
		get.getForJsonResponse(spikeRunner.showPostTest);
	});

	$('#getSpecificChannel').click(function(){
	console.log(document.getElementById('channelName').value);
		if(document.getElementById('channelName')){
			var get = new getData('http://127.0.0.1:8080/api/channels/' + document.getElementById('channelName').value);
			get.getForJsonResponse(spikeRunner.showPostTest);
		}
	});
	
});
</script>
<form method="post" action="">
	<input id="newChannelName" type="text" value="channel name" />
	<input type="button" id="newChannel" value="createNewChannel" />
</form>
<form method="post" action="">
	<input type="button" id="subscribe" value="subscribe" />
</form>
<form method="get" action="">
	<input type="button" id="getChannels" value="get channels" />
</form>
<form method="post" action="">
	<input id="channelName" type="text" />
	<input type="button" id="getSpecificChannel" value="get specific channel" />
</form>

<div id="results"> 

</div>